/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/montserrat-v23-latin_cyrillic-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v23-latin_cyrillic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/montserrat-v23-latin_cyrillic-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v23-latin_cyrillic-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-500 - latin_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/oswald-v47-latin_cyrillic-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/oswald-v47-latin_cyrillic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


body {
  font-family: 'Oswald', sans-serif;
  color: #060D10;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  min-width: 1278px;
  margin: 0 auto;
  /* border: 1px solid red; */
}


/* header */
header {
  background-color: #66D1FF;
  text-align: center;
}

.header-fade {
  padding: 34px 0;

}

.header-wrap {
  display: flex;
  justify-content: space-around;
  padding: 34px 81px;
}

.header-btn {
  padding: 8px 41px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  background-color: #FFF;
  border: 3px solid #fff;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}



.header-phone {
  display: inline-block;
  color: #060D10;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  text-decoration: none;
}


/* promo */



.promo {
  color: #FFF;
  background-image: url(../images/promo.jpg);
  background-color: rgba(6, 13, 16, 0.25);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

}

.promo-fade {
  padding: 240px 0 260px 0;
  margin: 0 auto;
}

.promo-title {
  font-size: 60px;
  line-height: 89px;
  text-shadow: 1px 1px 2px #060D10;
  ;
}

.promo-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-shadow: 1px 1px 2px #060D10;
}

/* benefits */

.benefits {
  color: #060D10;
  background: rgba(102, 209, 255, .1);
  /* text-align: center; */
}

.benefits-fade {
  padding: 170px 0 100px;
}

.benefits-wrap {

  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 100px 81px 0 81px;
  justify-content: space-between;
}



.benefits-title {
  font-size: 48px;
  line-height: 53px;
  text-transform: uppercase;
  text-align: center;
}

.benefits-item {
  list-style: none;
  flex-basis: calc(33.33% - 30px);
  margin-bottom: 70px;
  /* margin:0 81px 30px 81px; */

}

.benefits-title-small {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 53px;
  text-transform: uppercase;
}

.benefits-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 36px;
  opacity: 0.8;
  text-align: left;

}

/* purchaise */



.purchaise {
  color: #060D10;
  background: linear-gradient(208.35deg, rgba(102, 209, 255, .1) 43.85%, rgba(196, 196, 196, 0) 43.86%);
  text-align: center;
}


.purchaise-feed {
  padding: 170px 0 180px 0;
}

.purchaise-title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
  text-transform: uppercase;
}

.purchaise-btn {
  display: inline-block;
  min-width: 513px;
  padding: 20px 107px;
  margin-top: 80px;
  margin-bottom: 152px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  background: none;
  border: 3px solid #060D10;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.wrap-image {
  display: flex;
  justify-content: space-around;
  margin: 130px 81px 180px;
}

.purchaise-img {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #C4C4C4;
  flex-basis: calc(25% - 30px);
}

/* footer */
footer {
  background-color: #060D10;
  text-align: center;
}

.footer-feed {
  padding: 0;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 98px ;
}

.social-wrap{
  display: flex;
  justify-content: space-between;
}

.footer-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  color: #fff;
}

.footer-social {
  display: flex;
  padding: 0;
  margin: 0 50px;
  list-style: none;
  align-items: center;
}

.social-icon{
  margin-left: 15px;

}

.social-link {
  display: block;
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-copyright {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}
